h1{
	text-align: center;
	font-family: 'Cinzel', serif;
}
.right{
	text-align: right;
}
h3{
	background-color: #FFEFD5;
	font-family: 'Cinzel', serif;
}
h2, p{
	font-family: 'Crimson Text', serif;
}
nav{
	text-align: center;
	background-color: #000;
	margin: 0 auto;
}
span{
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 10px 50px;
}
a{
	color: white;
}
body{
	margin: 0 auto;
}
div{
	padding: 20px 150px;
}
